body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../photos/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #464646;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0px;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}